@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@400;700&display=swap'); 
.bodyCat1 {   
  height: auto;
  background-color: #B3E269;  
  font-family: 'Libre Baskerville', serif;  
  font-family: 'Source Sans Pro', sans-serif;  
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
 } 
 .container1 {
	margin-bottom: 3%;
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
	 
	
	
}
.mapcat{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
 .card1 {
	margin-top: 5rem;
	margin-left: 2rem;
	 width: 300px;
	 height: 450px;
	 box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	 position: relative;
	 perspective: 1000px;
	 transform: perspective(1000px) translateY(0);
	 transform-style: preserve-3d;
	 transition: transform 0.8s ease-in-out;


}
 .card1.light {
	 background-color: #eaf2e2;
	 color: #15603c;

}
 .card1.light .purchase-button {
	 border: 1px solid #f8a22f;
	 overflow: auto;
	 margin-bottom: 10px;
}
   .imagecat {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 width: 200px;
	height: 150px;
 }
.imagecat img{
	width: 100%;
	height: 100%;
}

 .container1 h2 {
	 height: inherit;
	 vertical-align: bottom;
	 margin-top: 2rem;
	
}
 .card-wrapper:hover .card1 {
	 transform: rotateY(179deg);
	 z-index: 2;

	
}



 .card-wrapper:hover .card1 .text-overlay {
	 opacity: 0;
	 transform-style: preserve-3d;
	 z-index: 1;
	

}
 .card-wrapper:hover .card1 .purchase-button-container {
	 opacity: 1;
	
	 
}
 .text-overlay {
	 transform: perspective(1000px) translateY(0) translateZ(80px);
	 transition: transform 0.8s ease-in-out, opacity 1s ease;
	 pointer-events: none;
	 width: 100%;
	 perspective: inherit;
	 padding-top: 50px;
	
	 
}
 .h1cat1 {
	background-color: #15603c;
	 font-size: 2rem;
	 padding-top: 10px;
	 height: 50px;
	 justify-content: center;
	 text-align: center;
	 

}
 .h2cat1 {
	 width: 250px;
	 display: flex;
	 align-items: center;
	 justify-content: space-evenly;
	 font-size: 0.7rem;
	 text-align: center;
	 font-weight: 500;
	 margin-left: 20px;
	 
}
 .purchase-button-container {
	 color: #f8a22f;
	 position: absolute;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
	 left: 0;
	 top: 0;
	 transform: perspective(1000px) rotateY(179deg) translateY(0) translateZ(80px);
	 opacity: 0;
	 z-index: -1;
	 transition: transform 0.8s ease-in-out, opacity 1s ease;
	 width: 100%;
	 height: 100%;
}
.cards-align{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
 .purchase-button-container .purchase-button {
	 padding: 10px 40px;
	 border-radius: 50px;
	 font-size: 1.2rem;
	 transition: background-color 0.25s ease, color 0.25s ease;
	 cursor: pointer;
}
 .purchase-button-container .purchase-button.light:hover {
	 background-color: #f8a22f;
	 color: #eaf2e2;
}
 .details-text {
	 margin-top: 20px;
	 display: flex;
	 gap: 10px 10px;
	 align-items: center;
	 text-align: center;
	 flex-direction: column;
	 color: #858585;
	 font-size: 0.75rem;
}
 small {
	 font-size: 0.75rem;
	 font-weight: 100;
	 color: #858585;
}
 .fa-solid {
	 font-size: 3rem;
	 margin-bottom: 2rem;
}
 .back-h2 {
	 font-size: 2rem;
	 margin-top: 0;
}
 @media screen and (max-width: 1000px) {
	.container1 {
		 display: grid;
		 grid-template-columns: 1fr 1fr;
		 
	}
}
@media screen and (max-width: 690px) {
	.container1 {
		 display: grid;
		 justify-content: center;
		 grid-template-columns: 1fr;
		 
	}
}

.editbutton{
	background-color: #B3E269;
	border-radius: 10px;
	width:100px;
	height: 60px;
	font-size: 20px;
	color: #15603c;
}
/* .editButtonDiv{
	display: flex;
	align-items: center;
	align-self: center;
} */
.editbutton2{
	background-color: #B3E269;
	border-radius: 10px;
	
	font-size: 20px;
	color: #15603c;
	


}
.location{display: flex;
	width:90px;
	height: 35px;
	margin-top: -45px;
	padding-left: 2px;}