@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

.bodyCat {
  min-height: auto;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  grid-auto-columns: auto;
}

.containerCat {
  min-height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 0;

}

.containerCat .title h3 {
  color: #F8A22F;
  text-align: center;
  margin-top: 5%;

  font-family: Roboto
}

.containerCat .card {
  position: relative;
  cursor: pointer;

}

.categories {
  display: flex;
  flex-direction: row;
  margin-bottom: 15%;
}

.containerCat .card .face {
  width: 30vw;
  height: 50vh;
  transition: 0.5s;
}

.containerCat .card .face.face1 {
  margin-left: 20px;
  position: relative;
  background: #F8A22F;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  border-radius: 20%;

}

.containerCat .card:hover .face.face1 {
  background: #15603C;
  transform: translateY(0);
}

.containerCat .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.containerCat .card:hover .face.face1 .content {
  opacity: 1;
}

.containerCat .card .face.face1 .content img {
  max-width: 150px;
  padding-left: 15px;
}

.containerCat .card .face.face1 .content a {
  display: inline-block;
  text-decoration: none;
  align-items: center;
  align-content: center;
  font-weight: 900;
  color: #EAF2E2;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  border: 1px solid #333;
}

h3 {
  position: relative;
  font-size: 7rem;
  font-family: Roboto;
  color: #F8A22F;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #F8A22F);
  line-height: 0.7em;
  outline: none;
  animation: text 10s linear infinite;
}
::selection {
  color: currentColor;
  background-color: #F8A22F;
}
@keyframes text {
  0%,
  18%,
  20%,
  50.1%,
  0%,
  65.1%,
  0%,
  0%,
  0% {
    color: #F8A22F;
    text-shadow: 0 0 5px #15603C;
  }
  18.1%,
  20.1%,
50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #15603C, 0 0 20px #15603C, 0 0 40px #15603C,
      0 0 80px #15603C, 0 0 160px #15603C;
  }
}

@media screen and (max-width: 800px) {
  .containerCat .card .face.face1 {
    margin-left: 0px;
    margin-bottom: 100px;
  }
  .containerCat {
    flex-direction: column;
  }
  .categories {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    
  }
  .containerCat .card .face {
    width: 60vw;
    height: 30vh;
    transition: 0.5s;
  }
  .containerCat .card .face.face1 .content img {
    max-width: 100px;
  }
  .containerCat .card .face.face1 .content a {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    color: #EAF2E2;
    padding: 0px;
    border: 1px solid #333;
  }
  
  

}