@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@400;700&display=swap');  
 .footer{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #15603C;
    height: 45px;
    align-items: center;
    padding-top: 5px;

 }
 .footer p{
    color: white;
    text-align: center;
    margin-left: 300px;
    font-family: Roboto;
 }
.icons {
    display: flex;
    justify-content:flex-end;
    column-gap: 3%;
}


.icons a {
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
@media screen and (max-width: 690px) {
    .footer{
        padding-top: 0px;
        height: 37px;
     }
    .footer p{
        font-size: 8px;
    
        margin-left: 120px;
        margin-top: 10px;
     }
     .icons a {
        font-size: 7px;
        margin-top: 0px;
    }

}
