@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@400;700&display=swap'); 
.containernav{
    background-color: #EAF2E2;
    height: 100px;
    
}

.navbar{
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #EAF2E2;
    z-index: 100;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
nav div{
    margin-top: 40px;
    font-family: Segoe UI;
}
.headerPages a:link{
    text-decoration: none;
    
    
}
.headerPages a{
    font-family: Roboto;
    color:#F8A22F;
    font-size: larger;
    text-shadow: 0 0 0.375rem hsl(300, 50%, 50%);
}
.headerPages a:hover{
    border-bottom: #F8A22F 3px solid;
    border-radius: 1.5rem 1.5rem 0 0;
}

.home a:visited{
    color: orange;
}
.catnav a:visited{
    color:orange;
}
.aboutnav a:visited{
    color: orange;
}
.containernav .navbar .logo{
width: 8%;
height: 8%;
}
.sign button{
    background-color: #F8A22F;
    border: 1px solid #F8A22F;
    border-radius: 50px;
    width: 120px;
    height: 30px; 
    display: flex;
    justify-content: center;
    font-size: larger;
    color: #EAF2E2;
}
.sign a:visited{
    color: white;
}
@media screen and (max-width: 690px) {
	.containernav{
        height: 40px;
    }
    nav div{
        margin-top: 10px;
    }
    a{
        font-size: smaller;
    }
    .containernav .navbar .logo{
        width: 10%;
        height: 10%;
        }
}