@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


.content {
  position: relative;

}

.content h2 {
  color: #fff;
  font-size: 3em;
  position: absolute;
  margin-top: 0%;

}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #15603c;
}

.content h2:nth-child(2) {
  color: #15603c;
  animation: animate 9s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(9% 75%,
        100% 100%,
        3% 5%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 0%,
        0% 0%);
  }

  50% {
    clip-path: polygon(100% 100%,
        100% 100%,
        100% 0%,
        0% 0%,
        7% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%);
  }
}

span {
  width: 100%;
  height: 100%;

}

.all {
  background-color: #EAF2E2;

}

.title {
  font-size: 40px;
  margin-right: 0rem;
  color: darkgreen;
  font-family: Roboto;
}

.flexbox {
  background: #EAF2E2;
  width: 50%;
  height: 10%;


  justify-content: left;
  align-items: center;
}

.search {
  margin: 20px;
  display: flex;

}

.text {
  color: orange;
  font-size: 20px;
  margin-top: 30%;
  ;
  font-family: Roboto;
}

#banner {
  width: 40%;
  padding: 70px;
  border-radius: 29%;

}

.search>input {
  display: inline-block;
  position: relative;
  margin-top: 1%;

}

.forBody {
  display: flex;
  background-color: #EAF2E2;
}

.search::before {
  content: "";
  background: darkgreen;
  width: 3px;
  height: 18px;
  position: absolute;
  top: 145px;
  left: 40px;
  transform: rotate(150deg);

}

.choices {
  display: grid;
  height: 80px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.search>input {
  color: darkgreen;
  font-size: 16px;
  background: transparent;
  width: 5px;
  height: 25px;
  padding: 10px;
  border: solid 3px darkgreen;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;

}

.search>input::placeholder {
  color: orange;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search>input:focus::placeholder {
  opacity: 1;
}

.search>input:focus,
.search>input:not(:placeholder-shown) {
  width: 250px;
}

@media screen and (max-width: 690px) {
  .content h2 {
    font-size: 1.5rem;
  }

  .text {
    padding-top: 10%;
    font-size: 10px;
  }

  .banner {
    width: 40%;
    height: 40%;
    align-items: center;
    align-self: center;
    padding: 0px;
    border-radius: 10%;

  }

}


.glow-on-hover {
  top: 18px;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: darkgreen;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #B3E269
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #B3E269;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}


.section {
  perspective: 800px;
  ;
}

.article {
  width: 550px;
  height: 200px;
  transform-style: preserve-3d;

  transition: transform .75s cubic-bezier(0.4, 0.03, 0.5, 0.9)
}

.test {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  outline: 2px solid #fff;
  outline-offset: 5px;
  backface-visibility: hidden;
}

.test:nth-child(2),
.article:hover {
  transform: rotate3d(1, 1, 0, 180deg);
}

@media screen and (max-width: 690px) {
.article{

margin-top: 50%;
width: 300px



}
.text{display: none;}
.content{margin-left: 2px;}
.glow-on-hover{width:70px}

  }