/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


.bodyShare {
    font-family: 'Poppins', sans-serif;
    background-color: #242329;
    display: grid;
    place-items: center;
    height: 5vh;
}

a {
    text-decoration: none;
}

/* ======================== */
 .wrapperShare {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    background-color: transparent;
    row-gap: 16px;
}

.listShare {
    display: flex;
     column-gap: 5px;
}

.active .itemShare {
    display: block;
}


.wrapperShare :is(.btnShare, .linkShare) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: darkgreen;
    color: white;
    border-radius: 50%;
}

 
.btnShare {
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: outline .25s;
}

.btnShare:hover, .itemShare:hover {
    outline: 5px solid #bb93fc;
    outline-offset: -4px;
}


.itemShare {
    list-style: none;
    transition: transform .5s;
    transition-delay: var(--d);
    border-radius: 50%;
    display: none;
}




.linkShare:hover {
    color: #fff;
    transition: background-color .5s;
}

.ig:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
}

.tw:hover {
    background-color: #1DA1F2;
}

.wa:hover {
    background-color: #90ee90;
    color: inherit;
} 
